extends base.pug

block scripts
  script(src='/static/index.js')

block style 
  style
      include ../static/style.css

block content

     section#introSection
    
        div Welocome to Mishra's Dance Academy 
        div.small Eat Sleep Dance Repeat
 
        ul 
          li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem
          li re et dolore magna aliqua..." “Lorem ipsum,” as you probably know, is placeholder text that allows
          li clients to focus on design and UX, without getting distracted by the 
          li Install the latest PowerShell for new features and improvements! 
          li What is Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna 
          button(type='button') Ragister Now!
     section#missionSection
       h4 Our Miission
       div.conatiner  
         div.pera 
             h3 DANCE PERFECTLY
             div.pera_box 
               div.pera-img 
                 img(src="/static/dance_png_img/png2.png")
               p sit amet, consecsmod tempor incididunt ut labore et dolore magna aliqua..." “Lorem ipsum,” as you probably know, is placeholder text that allows clients to focus on design and UX, without getting distracted by the 
         div.pera 
             h3 DANCE THE WAY YOU LIKE
              div.pera_box 
               div.pera-img 
                 img(src="/static/dance_png_img/png6.png")
               p Lorem ipsum dolor sit amet, consectetur re et dolore magna aliqua..." “Lorem ipsum,” as you probably know, is placeholder text that allows clients to focus on design and UX, without getting distracted by the
         div.pera 
             h3 EXPERT TEACHING
              div.pera_box 
               div.pera-img 
                 img(src="/static/dance_png_img/png7.png")
               p Lorem ipsum dolor sitabore et dolore magna aliqua..." “Lorem ipsum,” as you probably know, is placeholder text that allows clients to focus on design and UX, without getting distracted by the
         div.pera 
             h3 ROCKSTAR DANCING
              div.pera_box 
               div.pera-img 
                 img(src="/static/dance_png_img/png1.png")
               p Lorem ipsum dolor stempor incididunt ut labore et dolore magna aliqua..." “Lorem ipsum,” as you probably know, is placeholder text that allows clients to focus on design and UX, without getting distracted by the
     
     section#sponsorSection 
        h4 Our Sponsors 
        div#sponsor 
            img(src="/static/sponser img/apple.png", alt="" Class="spon")
            img(src="/static/sponser img/bmw img.png", alt="" Class="spon")
            img(src="/static/sponser img/google img.png", alt="" Class="spon")
            img(src="/static/sponser img/honda img.png", alt="" Class="spon")